.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-4px);
}

/* colors & styles */
.btn__primary__solid {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.btn__primary__solid:hover {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.btn__warning__solid {
  background-color: var(--warning);
  color: var(--dark);
  border: none;
}

.btn__warning__solid:hover {
  background-color: var(--white);
  color: var(--warning);
  border: 1px solid var(--warning);
}

.btn__danger__solid {
  background-color: var(--danger);
  color: var(--white);
  border: none;
}
.btn__danger__solid:hover {
  background-color: var(--white);
  color: var(--danger);
  border: 1px solid var(--danger);
}

.btn__success__solid {
  background-color: var(--success);
  color: var(--white);
  border: none;
}
.btn__success__solid:hover {
  background-color: var(--white);
  color: var(--success);
  border: 1px solid var(--success);
}

.btn__primary__outline {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
}
.btn__primary__outline:hover {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--white);
}

.btn__warning__outline {
  background-color: transparent;
  border: 2px solid var(--warning);
  color: var(--warning);
}
.btn__warning__outline:hover {
  background-color: var(--warning);
  border: 2px solid var(--warning);
  color: var(--dark);
}

.btn__danger__outline {
  background-color: transparent;
  border: 2px solid var(--danger);
  color: var(--danger);
}

.btn__danger__outline:hover {
  background-color: var(--danger);
  border: 2px solid var(--danger);
  color: var(--white);
}

.btn__success__outline {
  background-color: transparent;
  border: 2px solid var(--success);
  color: var(--success);
}
.btn__success__outline:hover {
  background-color: var(--success);
  border: 2px solid var(--success);
  color: var(--white);
}

/* sizes */

.btn__medium {
  padding: 10px 20px;
  font-size: 18px;
}

.btn__large {
  padding: 15px 30px;
  font-size: 20px;
}
